@import "tailwindcss";

@font-face{
    font-family: roboto;
    src: url("../assets/font/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}
@layer base{
    .hover{
    @apply hover:text-blue-600 transition
}
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased; /*me permet de rendre le texte plius fin et plus propre sur les ecrans*/
}