@import "tailwindcss";

@font-face { /* me permet de crer les font ici et de l'utiliser dans mon html*/
    font-family: 'Roboto';
    src: url("../assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@theme{
    --color-brand-primary: #2563eb;
}

@layer components{
        .hover{
        @apply hover:text-brand-primary transition
    }
    
    .card-avis{
        @apply p-8 rounded-3xl bg-slate-50 border border-slate-100 hover:bg-white hover:shadow-2xl hover:scale-105 transition-all duration-300;
    }

    .absolute{
        @appy absolute -bottom-10 -left-10 w-64 h-64 bg-cyan-400 rounded-full filter blur-3xl opacity-20
    }

    .rounded{
        @appy rounded-2xl flex items-center justify-center mb-6 text-white shadow-lg shadow-blue-200
    }
    .font{
        @apply font-bold text-slate-800 text-lg

    }
    .slate{
        @apply text-slate-600 text-sm italic leading-relaxed
    }
    .medium{
        @apply space-y-2 text-sm font-medium
    }
    .card{
        @apply w-16 h-16 rounded-full object-cover object-top border-2 border-white shadow-sm flex-shrink-0
    }
}

/* ici lorsque je clique sur un lien le glissement est fluide et non brusque */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased; /*me permet de rendre le texte plius fin et plus propre sur les ecrans*/
}
